body {
    font-family: 'Calibri';
}

header {
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: inline;
    border-bottom: 4px solid orange;
}
.headerText {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    font-size: 40px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: white;
    font-size: large;
}

footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}

/*-------------------- Main Page Specifc --------------------*/

.about-us{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;

}

.shop-now {
    text-decoration: none;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    color: white;
}

.customer-reviews {
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.break {
    flex-basis: 100%;
    height: 0;
}
/*-------------------- Product Page Specific --------------------*/
.productArea {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}
.inventoryHeader{
    width: auto;
    font-size: 70px;
    text-align: center;
    border-bottom: 2px solid orange;
}

/* "Product Styling" */
.rowGroup {
    display: flex;
    width: 100%;
}
.EQS, .Jesko, .Impreza, .Versa, .Countach, .Integra, .Mazda2, .Civic {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

    transition: 0.72s;
    width: 50%;
    text-align: center;
    .price {
        color: #007BFF;
        font-weight: bold;
        font-size: 30px;
    }
}
img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.EQS:hover, .Jesko:hover, .Impreza:hover, .Versa:hover, .Countach:hover, .Integra:hover, .Mazda2:hover, .Civic:hover {
    transition: 0.72s;
    background-color: #ffffff;
    /* yes, it does change colour on hover, but the colour change is hard to notice */
}

/* add to card section */
.addToCart {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.72s;
    color: white;
}
.addToCart:hover {
    background-color: #45A049;
    transition: 0.72s;
}

/* computer monitors and laptop displays */
@media screen and (min-width: 769px) {
    .rowGroup {
        flex-direction: row;
    }
}
/* mobile devices in vertical mode */
@media screen and (max-width: 768px) {
    .rowGroup {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .EQS, .Jesko, .Impreza, .Versa, .Countach, .Integra, .Mazda2, .Civic {
        width: 100%;
    }
}

.cart {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cartItem0, .cartItem1, .cartItem2, .cartItem3, .cartItem4, .cartItem5, .cartItem6, .cartItem7 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartItemName, .cartItemPrice, .cartItemCount{
    padding: 20px;
    margin: 20px;
}

.cart {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.cartItem0, .cartItem1, .cartItem2, .cartItem3, .cartItem4, .cartItem5, .cartItem6, .cartItem7 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cartItem0:hover, .cartItem1:hover, .cartItem2:hover, .cartItem3:hover, .cartItem4:hover, .cartItem5:hover, .cartItem6:hover, .cartItem7:hover {
    transition: 0.72s;
    background-color: rgb(159, 159, 159);
    border-radius: 10px;
}

.cartItemName, .cartItemPrice, .cartItemCount{
    padding: 10px;
    margin: 10px;
}

.removeFromCart {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.72s;
    color: white;
}
.removeFromCart:hover {
    background-color: #ff0000;
    transition: 0.72s;
}

.cartPriceTracker {
    text-align: center;
}

#cartScrollingThing {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: none;
}
#cartScrollingThing img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
/*-------------------- Login Page Specific -------------------- */
.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.login {
    display: block;
    margin: 10px;
}

.login-details {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.login-button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    color: #fff;
}

.login-button:hover {
    background-color: #45A049;
    opacity: 1.0;
}

.sign-up {
    color: #007BFF;
    margin: 10px;
    text-decoration: none;
    transition: 0.72s;
}

.sign-up:hover {
    transition: 0.72s;
    text-decoration: underline;
}

/*-------------------- Signup Page Specific ------------------- */
.main-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.signup {
    display: block;
    margin: 10px;
}

.signup-details {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.signup-button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    color: #fff;
}

.signup-button:hover {
    background-color:  #45A049;
    opacity: 1.0;
}

.messagebox {
    border: 2px;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px;
}